<nav class="navbar navbar-expand-sm navbar-dark bg-light ">
      <ul class="navbar nav">
          <li class="navbar-item">
              <a routerLink="/electronics" class="nav-link">Electronics</a>
          </li>
         
        <li class="navbar-item">
          <a routerLink="/men" class="nav-link">Men</a>
        </li>
        <li class="navbar-item">
          <a routerLink="/women" class="nav-link">Women</a>
        </li>
        <li class="navbar-item">
          <a routerLink="/toys" class="nav-link">Toys</a>
        </li>
        <li class="navbar-item">
          <a routerLink="/sports" class="nav-link">sports</a>
        </li>
      </ul>
</nav>