<div class="container">
  
  <div class="row">
    <div class="col-sm-4">
          <img src="./assets/images/toys/{{info[0].pimage}}" class="mx-auto d-block" style="width:100%;">
         <br/>
         <br/>  <br/>
        
    </div>
    <div class="col-sm-8 ">
        <div class="pdetails">
              <div class="itemName"> {{info[0].name | titlecase}} </div>
              <div class="price"> <b>Price</b> : {{info[0].price | currency:"INR"}}</div>
             
             <span class="acprice"><b>Actual Price</b> : <s>{{info[0].acprice | currency:"INR"}}</s></span>
              <div >
                 
                <span class="offer"><b>Discount</b> : {{info[0].discount}} %</span>
              </div>
              <div class="rating">
                 <span class="badge badge-success">{{info[0].rating}} * </span> 
                   5 Ratings & 1 Reviews
              </div>
              
            <div>
              <a class="btn btn-lg AddCart">AddtoCart</a>
              <span></span>
              <a class="btn  btn-lg  Buy">BuyNow</a> 
            </div> 
        </div>
    </div>
  </div>
</div> 

