<div class="container-fluid">
    
  <div class="row">
    
    <div class="col-sm-5">
          <img [src]='this.small' [imageZoom]='this.large' [lensWidth]=500 [lensHeight]=500 
          class="mx-auto d-block " style="width:100%;"
         >
         <br/>
         <br/>  <br/>
        
    </div>
    <div class="col-sm-7 ">
        <div class="pdetails">
              <h5 class="itemName"> {{info[0].name | titlecase}} </h5>
              
                <span class="badge badge-success">{{info[0].rating}} <i class="fa fa-star"></i></span> 
                  <span class="rating"> 2,09,377 Ratings & 32,107 Reviews</span> 
                  <div class="text text-success sp-label">Special Price</div>
              <span class="price"> {{info[0].price | currency:"INR":'symbol':'3.0'}} </span>
              <span class="acprice"><s> {{info[0].acprice | currency:"INR"}} </s></span>
              <span class="offer text text-success"> {{info[0].discount}}% off</span>
              <div ><i class="fa fa-tag text text-success"></i> Special PriceGet extra 4% off (price inclusive of discount)<a href="#"> T&C </a></div>
              <div><i class="fa fa-tag text text-success"></i>  Bank Offer5% Cashback* on EMI transactions with SBI Credit Card<a href="#"> T&C </a></div>
              <div><i class="fa fa-tag text text-success"></i> Bank OfferExtra 5% off* with Axis Bank Buzz Credit Card<a href="#"> T&C </a></div>
              <div >
                 
               
              </div>
             
              
            <div>
              <a class="btn btn-sm-3 AddCart">AddtoCart</a>
              <span></span>
              <a class="btn  btn-sm-3 Buy">BuyNow</a> 
            </div> 
        </div>
    </div>
  </div>
</div> 

